{% extends "layout.html" %}

{% block title %}
    | Change Password
{% endblock %}

{% block main %}
<form action="/change_password" method="post" class='container'>

    <!-- Checking old password -->
    <div class="form-group {% if wrong_password %} has-danger {% endif %}">
        <label for="old_password" class="form-label mt-4">Old password</label>
        <input type="password" class="form-control {% if wrong_password %} is-invalid {% endif %}" id="old_password" name="old_password" placeholder="Enter Old Password" autocomplete="off">

        {% if wrong_password %}
        <div class="invalid-feedback">Incorrect Password</div>
        {% endif %}
    </div>

    <!-- Entering new password -->
    <div class="form-group {% if empty_password %} has-danger {% endif %}">
        <label for="password" class="form-label mt-4">New Password</label>
        <input type="password" class="form-control {% if empty_password %} is-invalid {% endif %}" id="password" name="password" placeholder="Enter New Password" autocomplete="off">

        {% if empty_password %}
        <div class="invalid-feedback">New Password is requred</div>
        {% endif %}
    </div>

    <!-- Checking new password -->
    <div class="form-group {% if unmatch_password %} has-danger {% endif %}">
        <label for="confirmation" class="form-label mt-4">Confirm New Password</label>
        <input type="password" class="form-control {% if unmatch_password %} is-invalid {% endif %}" id="confirmation" name="confirmation" placeholder="Confirm New Password" autocomplete="off">

        {% if unmatch_password %}
        <div class="invalid-feedback">Passwords do not match</div>
        {% endif %}
    </div>
    <br>
    <div>
        <button type="submit" class="btn btn-primary">Change my Password</button>
    </div>

</form>
{% endblock %}
