{% extends "layout.html" %}

{% block title %}
    | Register
{% endblock %}

{% block main %}
    <form action="/register" method="post" class='container'>
        <div class="form-group {% if used_username or empty_username %} has-danger {% endif %}">
            <label for="username" class="form-label mt-4">Username</label>
            <input type="text" class="form-control {% if used_username or empty_username %} is-invalid {% endif %}" id="username" name="username" placeholder="e.g John Doe">

            {% if used_username %}
            <div class="invalid-feedback">Username taken</div>
            {% endif %}

            {% if empty_username %}
            <div class="invalid-feedback">Username is requred</div>
            {% endif %}
        </div>

        <div class="form-group {% if empty_password %} has-danger {% endif %}">
            <label for="password" class="form-label mt-4">Password</label>
            <input type="password" class="form-control {% if empty_password %} is-invalid {% endif %}" id="password" name="password" placeholder="Enter Password" autocomplete="off">

            {% if empty_password %}
            <div class="invalid-feedback">Password is requred</div>
            {% endif %}
        </div>

        <div class="form-group {% if unmatch_password %} has-danger {% endif %}">
            <label for="confirmation" class="form-label mt-4">Confirm Password</label>
            <input type="password" class="form-control {% if unmatch_password %} is-invalid {% endif %}" id="confirmation" name="confirmation" placeholder="Confirm Password" autocomplete="off">

            {% if unmatch_password %}
            <div class="invalid-feedback">Passwords do not match</div>
            {% endif %}
        </div>

        <br>
        <div>
            <button type="submit" class="btn btn-outline-primary">Create Account</button>
        </div>
    </form>
{% endblock %}
